rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone with access to your database to read or write
    // to any document in your database. It is not recommended for production
    // apps.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
